
@{
    ViewData["Title"] = "Configuration";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="number_area">
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="MachineOne">Maquina 1</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="Configuration">Maquina 2</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
        </div>
    </div>
</div>

