@{
    ViewData["Title"] = "Home Page";
}
<script>
    function CloseWindow() {

        window.close();
    }
</script>
<div class="text-center">
    <h1 class="display-4">Maquinas y simulación</h1>
    <div class="container">
        <div class="number_area">

            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="Configuration">Configuración maquinas</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="EmulatorView">Configuración de simulación</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="ExecuteSimulation">Ejecutar simulación</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="SimulationResult">Resultados de sumulación</a>
            <a class="btn btn-primary btn-lg btn-block"  asp-area="" onclick="CloseWindow()">Salir del programa</a>
        </div>
    </div>
</div>

