@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    /*    .number_area {
        width: 300px;
    }*/
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="number_area">

            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="Configuration">Configuración maquinas</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="EmulatorView">Configuración de simulación</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="ExecuteSimulation">Ejecutar simulación</a>
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="SimulationResult">Resultados de sumulación</a>
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Salir del programa</a>
        </div>
    </div>
</div>



@*<button type="button" class="btn btn-primary btn-lg btn-block">Botón de bloque</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Botón de bloque</button>
    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Enlace</a>*@
